<section class="hex-grid">
  <section class="column-1">
    <p>col 1</p>
  </section>
  <section class="column-2">
    <p>col 2</p>
  </section>
  <section class="column-3">
    <p>col 3</p>
  </section>
  <section class="column-4">
    <p>col 4</p>
  </section>
</section>
