<h1>Your Cart</h1>
<%= link_to "Empty Cart", cart_destroy_path %>

<ul>
<% @cart.each do |id, quantity| %>
  <% product = Product.find_by_id(id) %>

  <li>
    <%= link_to product.name, product %>
  </li>
<% end %>
</ul>
