<h1>Thank you for your purchase, <%= @buyer.name %>!</h1>

<p>We appreciate your business. This email confirms that your Beehive order
  has been successfully placed. The seller of this item has been notified and the
  materials necessary for it have been ordered from our partner company, <a href="https://www.spoonflower.com">
  Spoonflower.</a> Please feel free to check the status of your purchase items on
  your <a href="http://thebeehive.herokuapp.com/sessions/new"> Beehive User Profile under the 'purchases' tab.</p>

<p>thank you for choosing Beehive!</p>
