<h1><%= @seller.name %>, someone bought an item from you!</h1>

<p>Congratulations, you're a success! Please <a href="http://thebeehive.herokuapp.com/sessions/new">
  login to your account on Beehive</a> to see details of the piece that has been
  purchased. An order has been placed with our partners at <a href="https://www.spoonflower.com">
  Spoonflower</a> for the fabric necessary to complete this piece. Because production
  time can vary, please wait 1 - 2 weeks before contacting customer service to
  enquire about the status of pending shipments.</p>
</br>
<p>Please be mindful of the production time you specified when this item was created.
  Beehive reserves the right to remove sellers who consistently miss projected product
  deadlines from the marketplace. Feel free to contact Customer Service if you encounter
  difficulty meeting production deadlines or wish to personally contact clients
  who have made purcahses from you.</p>


<p>Go forth and create!</p>
<p>-- the team at Beehive </p>
