h2.cart-header {
  text-transform: uppercase;
  // text-align: center;
  padding-bottom: 3%;
}
.cart-content {
  width: 100% * (2/3);
  float: left;
  padding-right: 3%;
  // border-right: 1px solid lightgray;

  .content-container {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1%;
    padding-top: 1%;

    &:first-child {
      padding-top: 0;
    }

    div {
      display: inline-block;

      &.item-img {

      }
      &.item-details {
        vertical-align: top;
        position: relative;
        left: -60px;
        h4 {
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 300;
          color: inherit;
        }
        h5 {
          padding-bottom: 3%;
        }
        input {
          width: 15%;
          line-height: 1.5em;

          &.quantity-bttn {
            width: 45%;
            background: lighten($main, 10%);
            border: solid lighten($main, 10%);
            padding: 3px 0;
            border: solid 0px;
            margin: 0 auto;
            color: #FFF;
            font-size: 10px;
            text-transform: uppercase;
            border-radius: 5px;

            &:hover{
              background: $main;
              cursor: pointer;
            }

            a[href] {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  a[href].remove-item {
    text-decoration: none;
    color: gray;
    float: left;
    font-weight: 300;
    padding-top: 5%;

    &:hover{
      cursor: pointer;
      text-decoration: underline;
      color: $main;
    }
  }
}

/* CART SUMMARY CARD */
.cart-total {
  width: 100% * (1/4);
  display: inline-block;
  border: 2px solid lightgray;
  padding: 1%;

  h4 {
    text-transform: uppercase;
    border-bottom: 1px solid lightgray;
    // padding-bottom: 3%;
    // background: gray;
    // color: #FFF;
  }

  ul.cart-summary {
    list-style-type: none;
    padding: 5% 0;
    li {
      display: inline-block;

      &.order-total {
        float: right;
      }
    }
  }
  a[href].checkout-bttn {
    text-decoration: none;
    text-align: center;
    color: #FFF;
    padding: 10px 0;
    width: 97%;
    border: solid 0px;
    margin: 0 auto;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: lighten($main, 10%);
    border: solid lighten($main, 10%);
    display: block;
    float: left;

    &:hover{
      background: $main;
      cursor: pointer;
      border-color: $main;
    }
  }

  a[href].empty-cart {
    text-decoration: none;
    color: gray;
    float: right;
    padding-top: 7%;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: $main;
    }
  }
} /* END cart summary */

.continue-shop {
  text-decoration: none;
  color: $main;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* FABRIC HEX */
.hex-fabric {
  position: relative;
  left: -75px;

  .hexagon-thumb {
    position: absolute;
    left: 4px;
    top: 6px;
    width: 90px;
    -webkit-clip-path: polygon(
      50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
    );
  }
  .hexagon {
    position: relative;
    width: 98px;
    height: 55.58px;
    background-color: #FFF;
    margin: 28.29px 0;
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 49px solid transparent;
    border-right: 49px solid transparent;
  }

  .hexagon:before {
    bottom: 100%;
    border-bottom: 28.29px solid #FFF;
  }

  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.29px solid #FFF;
  }
} /* END hex fabric */
