h2 {
  text-transform: uppercase;
}
.cart-content {
  width: 100% * (2/3);
  float: left;
  padding-right: 3%;

  .content-container {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1%;
    padding-top: 1%;

    &:first-child {
      padding-top: 0;
    }

    div {
      display: inline-block;

      &.item-img {

      }
      &.item-details {
        vertical-align: top;
        position: relative;
        left: -75px;
        h4 {
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 300;
          color: inherit;
        }
      }
    }
  }
  a[href].empty-cart {
    text-decoration: none;
    color: $main;
    float: left;
    font-weight: 300;

    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

/* CART SUMMARY CARD */
.cart-total {
  width: 100% * (1/4);
  display: inline-block;

  h4 {
    text-transform: uppercase;
    padding-bottom: 3%;
  }
  a[href].checkout-bttn {
    text-decoration: none;
    text-align: center;
    color: #FFF;
    padding: 10px 0;
    width: 100%;
    border: solid 0px;
    margin: 0 auto;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: lighten($main, 10%);
    border: solid lighten($main, 10%);
    display: block;
    float: left;

    &:hover{
      background: $main;
      cursor: pointer;
      border-color: $main;
    }
  }
  p {
    padding-bottom: 5%;
  }
} /* END cart summary */

/* FABRIC HEX */
.hex-fabric {
  position: relative;
  left: -75px;

  .hexagon-thumb {
    position: absolute;
    left: 4px;
    top: 6px;
    width: 90px;
    -webkit-clip-path: polygon(
      50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
    );
  }
  .hexagon {
    position: relative;
    width: 98px;
    height: 55.58px;
    background-color: #FFF;
    margin: 28.29px 0;
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 49px solid transparent;
    border-right: 49px solid transparent;
  }

  .hexagon:before {
    bottom: 100%;
    border-bottom: 28.29px solid #FFF;
  }

  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 28.29px solid #FFF;
  }
} /* END hex fabric */
