/* GRID LAYOUT */
.grid-row {
  width: 100%;
  display: table;
  content: "";
  clear: both;

  [class*="col-"] {
    box-sizing: border-box;
    // outline: 1px solid gray;
    display: block;
    float: left;
    padding-right: 1em;

    &:last-child {
      padding-right: 0;
    }
  }

  .col-2-3 {
    width: 100% * (2/3);
    // padding: 0 5%;
  }

  .col-1-3 {
    width: 100% * (1/3);
  }

  .col-3-3 {
    width: 100%;
  }

} /* END grid-row layout */

/* PRODUCT IMAGES & DESCRIPTION */
.product-overview {
  padding-bottom: 5%;

  .col-2-3 { /* image display */
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    img {
      position: relative;
    }
  } /* END image display */

  .col-1-3 { /* product description */
    font-weight: 300;
    h2 {
      text-transform: uppercase;
      padding-bottom: 3%;
    }
    h3 {

    }
    .seller-details {
      padding-bottom: 3%;
      border-bottom: 1px solid lightgray;
    }
    h4 {
      text-transform: uppercase;
      padding-top: 3%
    }
    p {

    }
  } /* END product description */
} /* END product-overview */

/* SPOONFLOWER PATTERN SELECTION */
.sf-fabric {
  padding-bottom: 5%;
  label {
  text-transform: uppercase;
  }
  div.col-3-3 {
    padding-bottom: 3%;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    padding-bottom: 1%;

    #input {
      width: 100% * (1/3);
      padding-right: 3%;
    }

      input.form-control {
        width: 100%;
        line-height: 2.2em;
        font-size: 14px;
      }

      input.search-button {
        width: 100% * (1/3);
        background: lighten($main, 10%);
        border: solid lighten($main, 10%);
        padding: 10px 0;
        border: solid 0px;
        color: #FFF;
        font-family: "Oswald";
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 5px;

        &:hover{
          background: $main;
          cursor: pointer;
        }

        a[href] {
          text-decoration: none;
        }
      }
  }

  vertical-align: middle;
  display: table-cell;
  img {
    position: relative;
    padding-right: 1em;
    padding-bottom: 3%;

    &:last-child {
      padding-right: 0;
    }
  }

  // button.add-cart {
    // float: right;
    // width: 100% * (1/3);
    // background: lighten($main, 10%);
    // border: solid lighten($main, 10%);
    // display: block;
    // padding: 10px 0;
    // width: 30%;
    // border: solid 0px;
    // margin: 0 auto;
    // color: #FFF;
    // font-family: "Oswald";
    // font-size: 12px;
    // text-transform: uppercase;
    // border-radius: 5px;

    // &:hover{
    //   background: $main;
    //   cursor: pointer;
    // }
    a[href].add-cart {
      text-decoration: none;
      text-align: center;
      color: #FFF;
      padding: 10px 0;
      width: 30%;
      border: solid 0px;
      margin: 0 auto;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 5px;
      background: lighten($main, 10%);
      border: solid lighten($main, 10%);
      float: right;
      display: block;

      &:hover{
        background: $main;
        cursor: pointer;
        border-color: $main;
      }
    }
  // }

} /* END Spoonflower pattern selection */

/* MORE ITEMS FROM SELLER */
.more-seller {
  padding-bottom: 5%;
} /* END more items */
