.user-profile {
  width: 100%;

  .user-info {
    width: 100% * (1/3);
    // outline: 1px solid black;
    float: left;

    img {
      width: 100%;
      position: relative;
    }
  } // END .user-info

  .seller-info {
    width: 100% * (2/3);
    display: inline-block;

    nav.profile-tabs {
      border-bottom: solid 1px gray;
      margin: 0;

      a[href] {
        text-decoration: none;
        text-transform: uppercase;
        color: inherit;
        padding: 1ex 3em;
        bottom: 11px;
        padding: 1ex 3em;
        position: relative;

        &.active {
          border: 1px solid gray;
          border-bottom-color: #FFF;
          border-top: 2px solid gray;
          // color: #FFAF44;
        }
      }
    } // END .profile-tabs

    .seller-panel {
      display: none;
      padding-top: 5%;
      font-weight: 300;
      padding-left: 2%;

      h2 {
        padding-bottom: 4%;
      }

      h3 {
        padding-bottom: 4%;
      }

      .buyer-info > h3 {
        cursor: pointer;
        // margin-left: 5%;
      }

      ul.order-details {
        margin-left: 5%;
      }

      &.active {
        display: inherit;
      }
    }

    ul {
      list-style: none;
    }

    .add-new {

      form.add-product {
        border: 1px solid gray;
        border-radius: 4px;
        padding: 1em 2em;
      }
    }
  } // END .seller-info
} // END .user-profile
