<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>Beehive</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <header>
          <h1>Beehive</h1>
        </header>
        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        <main class="container">

          <%= yield %>

        </main>
        <footer>
          <h5>Powered by Spoonflower</h5>
        </footer>

    </body>
</html>
